In [1]:
import mysql.connector as conn

In [3]:
mydb=conn.connect(host="localhost",user="root",passwd="abhiA55-66")

In [4]:
mydb

In [6]:
cursor=mydb.cursor()

In [7]:
cursor.execute('show databases')

In [8]:
cursor.fetchall()

[('abhishek1',),
 ('abhishek22',),
 ('abhisheksaini11',),
 ('abhisheksainiop',),
 ('abhisheksainiopal',),
 ('information_schema',),
 ('myschoolfirendinfo',),
 ('mysql',),
 ('performance_schema',),
 ('products',),
 ('sys',),
 ('test1',),
 ('test_',),
 ('test_ineuron11',),
 ('test_inueuron112',),
 ('test_inueuron1123',),
 ('test_nieuron',),
 ('testabhisheksaini1',)]

In [14]:
cursor.execute('use products')

In [18]:
cursor.execute('show tables')

In [19]:
cursor.fetchall()

[]

In [20]:
cursor.execute('create database products_1')

In [22]:
cursor.execute(' create table products.product(ProductId INT(10),ProductName VARCHAR(30),SupplierID INT(10),CategoryID INT(10),Unit VARCHAR(30),Price INT(10))')

ProgrammingError: 1050 (42S01): Table 'product' already exists