In [11]:
import mysql.connector as conn

In [12]:
mydb=conn.connect(host="localhost",user="root",passwd="abhiA55-66")

In [13]:
cursor=mydb.cursor()

In [4]:
cursor.execute('show databases')

In [5]:
cursor.fetchall()

[('abhishek1',),
 ('abhishek22',),
 ('abhisheksaini11',),
 ('abhisheksainiop',),
 ('abhisheksainiopal',),
 ('information_schema',),
 ('myschoolfirendinfo',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test1',),
 ('test_',),
 ('test_ineuron11',),
 ('test_inueuron112',),
 ('test_inueuron1123',),
 ('test_nieuron',),
 ('testabhisheksaini1',)]

In [6]:
cursor.execute('create database myschoolfirendinfo')

DatabaseError: 1007 (HY000): Can't create database 'myschoolfirendinfo'; database exists

In [ ]:
cursor.execute('create table myschoolfirendinfo.info(sno INT(10),studentsname VARCHAR(30),gmail VARCHAR(30),phoneno INT(11),marks INT(10))')

In [20]:
cursor.execute('insert myschoolfirendinfo.info values(0,"ABHISHEK SAINI","abhisheksaini388@gmail.com",097644907,98)')

In [21]:
cursor.execute('insert myschoolfirendinfo.info values(1,"ANKIT SAINI","ankitsaini788@gmail.com",8989898,99)')

In [22]:
cursor.execute('insert myschoolfirendinfo.info values(2,"Akash Sharma","akashshar_899@gmail.com",78787855,66)')

In [23]:
cursor.execute('insert myschoolfirendinfo.info values(3,"Jayesh Kumar","jayeshkumar555@gmail.com",45454353,89)')

In [24]:
cursor.execute('insert myschoolfirendinfo.info values(4,"Akshat Jain","akshatjain255@gmail.com",7878225,78)')

In [25]:
cursor.execute('insert myschoolfirendinfo.info values(5,"Mohit joshi","mohitjoshi452@gmail.com",454585621,89)')

In [26]:
cursor.execute('insert myschoolfirendinfo.info values(6,"shafik khatri","shafikkatri876@gmail.com",9697785,87)')

In [27]:
cursor.execute('insert myschoolfirendinfo.info values(7,"kush rathore","kushrathore366@gmail.com",8523697,78)')

In [33]:
cursor.execute('insert myschoolfirendinfo.info values(8,"Nayan agarwal","nayan1233@gmail.com",56599898,88)')

In [38]:
cursor.execute('insert myschoolfirendinfo.info values(9,"Kushagra Soni","kushagra887@gmial.com",89898782,78)')

In [27]:
cursor.execute('insert myschoolfirendinfo.info values(10,"sumit joshi","sumitjoshi888@gmail.com",78787552,88,"maheshkumar","2001-01-05")')

In [28]:
mydb.commit()

In [29]:
cursor.execute('select * from myschoolfirendinfo.info')

In [30]:
cursor.fetchall()

[(0, 'ABHISHEK SAINI', 'abhisheksaini388@gmail.com', 97644907, 98, None, None),
 (1, 'ANKIT SAINI', 'ankitsaini788@gmail.com', 88854544, 99, None, None),
 (2, 'Akash Sharma', 'akashshar_899@gmail.com', 78787855, 66, None, None),
 (3, 'Jayesh Kumar', 'jayeshkumar555@gmail.com', 45454353, 89, None, None),
 (4, 'Akshat Jain', 'akshatjain255@gmail.com', 7878225, 78, None, None),
 (5, 'Mohit joshi', 'mohitjoshi452@gmail.com', 454585621, 89, None, None),
 (6, 'shafik khatri', 'shafikkatri876@gmail.com', 9697785, 87, None, None),
 (7, 'kush rathore', 'kushrathore366@gmail.com', 8523697, 78, None, None),
 (8, 'Nayan agarwal', 'nayan1233@gmail.com', 56599898, 88, None, None),
 (9, 'Kushagra Soni', 'kushagra887@gmial.com', 89898782, 78, None, None),
 (10, 'Rishab jain', 'cool454@gmail.com', 8989877, 89, None, None),
 (10,
  'sumit joshi',
  'sumitjoshi888@gmail.com',
  78787552,
  88,
  'maheshkumar',
  datetime.date(2001, 1, 5))]

In [6]:
import pandas as pd

In [7]:
pd.read_sql("select* from myschoolfirendinfo.info",mydb)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,sno,studentsname,gmail,phoneno,marks,stuudentsfathername,studentsdob
0,0,ABHISHEK SAINI,abhisheksaini388@gmail.com,97644907,98,ashokkumarsaini,2001-07-27
1,1,ANKIT SAINI,ankitsaini788@gmail.com,88854544,99,juiiuiui,2002-05-28
2,2,Akash Sharma,akashshar_899@gmail.com,78787855,66,kashkumar,2001-08-25
3,3,Jayesh Kumar,jayeshkumar555@gmail.com,45454353,89,kalksalk,1999-05-02
4,4,Akshat Jain,akshatjain255@gmail.com,7878225,78,kllklklkkala,2002-08-04
5,5,Mohit joshi,mohitjoshi452@gmail.com,454585621,89,Jay,2001-09-04
6,6,shafik khatri,shafikkatri876@gmail.com,9697785,87,kuiuiusj,1999-04-14
7,7,kush rathore,kushrathore366@gmail.com,8523697,78,kayesh kumar,2001-05-12
8,8,Nayan agarwal,nayan1233@gmail.com,56599898,88,hiteshshar_,2001-05-18
9,9,Kushagra Soni,kushagra887@gmial.com,89898782,78,kayank,2005-05-20
10,10,Rishab jain,cool454@gmail.com,8989877,89,umangshar_,2001-06-14
11,10,sumit joshi,sumitjoshi888@gmail.com,78787552,88,umangshar_,2001-06-14

In [9]:
import pandas as pd

In [10]:
pd.read_sql("select * from abhisheksainiopal.sainiopal",mydb)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Empty DataFrame
Columns: [studentid, firstname, lastname, regid, classname]
Index: []