In [3]:
import sqlite3

In [4]:
db=sqlite3.connect("abhisheksaini_44")

In [5]:
print(db)

<sqlite3.Connection object at 0x0000027F22A3B210>

In [6]:
cursor=db.cursor()

In [15]:
cursor.execute('create table fsds(name text,batchid int,marks real)')

OperationalError: table fsds already exists

In [1]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 389F-0762

 Directory of C:\Users\Yaksha\Desktop\abhi.cpp\Untitled Folder

10-01-2023  12:23    <DIR>          .
10-01-2023  12:23    <DIR>          ..
10-01-2023  00:09    <DIR>          .ipynb_checkpoints
06-12-2022  00:16    <DIR>          __pycache__
08-01-2023  00:00         4,407,102 19.3 MongoDB.7z
10-01-2023  12:18             8,192 abhisheksaini_44
10-01-2023  12:20             4,616 abhisheksaini_44-journal
29-12-2022  19:12           879,767 gamer.txt
25-12-2022  17:23            11,903 glass.data
10-01-2023  00:07             3,066 mongo1.ipynb
09-01-2023  23:47            14,670 mongodb2.ipynb
29-12-2022  19:08           875,693 movies.sql
06-12-2022  00:16               283 my_module.py
04-01-2023  19:25           102,584 mysql_1.ipynb
29-12-2022  19:08            93,626 mysql_2.ipynb
27-12-2022  21:28            24,252 MYSQLWORKSPACE_1.ipynb
27-12-2022  23:44            11,381 MYSQLWORKSPACE_2.ipynb
31-12-2022  00:52             1,007 NEW_RECORD_1.sql
03-01-2023  11:15               339 NEW_RECORD_10.sql
05-01-2023  22:55             1,441 NEW_RECORD_11.sql
06-01-2023  10:58               318 NEW_RECORD_12.sql
31-12-2022  19:23               367 NEW_RECORD_2.sql
05-01-2023  19:05               249 NEW_RECORD_3.sql
03-01-2023  19:17               718 NEW_RECORD_4.sql
01-01-2023  15:37               339 NEW_RECORD_5.sql
01-01-2023  17:15               229 NEW_RECORD_6.sql
01-01-2023  23:58               502 NEW_RECORD_7.sql
02-01-2023  00:15               166 NEW_RECORD_78.sql
03-01-2023  00:13               405 NEW_RECORD_8.sql
03-01-2023  11:00               260 NEW_RECORD_9.sql
04-01-2023  19:41           121,143 order detail.csv
04-01-2023  19:33           121,143 order detail.txt
04-01-2023  20:59             3,014 product.csv
10-01-2023  12:23             6,006 sqllite.ipynb
03-01-2023  00:03           875,693 SWIGGY.SQL
11-12-2022  11:39               609 test.log
11-12-2022  11:31                 0 test.py
05-12-2022  23:38                 0 test08.txt
05-12-2022  23:45                99 test1.py
05-12-2022  23:41                98 test1.txt
08-01-2023  00:53            15,715 Untitled.ipynb
10-01-2023  00:09            15,794 Untitled1.ipynb
              38 File(s)      7,602,789 bytes
               4 Dir(s)  18,818,895,872 bytes free

In [26]:
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")
cursor.execute("insert into fsds  values('abhishek saini',45454,4545.11)")

In [27]:
data=cursor.execute("select * from fsds")

In [28]:
for i in data:
    print(i)

('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)
('abhishek saini', 45454, 4545.11)

In [30]:
db.commit()

In [32]:
db.close()

In [40]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 389F-0762

 Directory of C:\Users\Yaksha\Desktop\abhi.cpp\Untitled Folder

10-01-2023  12:37    <DIR>          .
10-01-2023  12:37    <DIR>          ..
10-01-2023  00:09    <DIR>          .ipynb_checkpoints
06-12-2022  00:16    <DIR>          __pycache__
08-01-2023  00:00         4,407,102 19.3 MongoDB.7z
10-01-2023  12:33             8,192 abhisheksaini_44
29-12-2022  19:12           879,767 gamer.txt
25-12-2022  17:23            11,903 glass.data
10-01-2023  00:07             3,066 mongo1.ipynb
09-01-2023  23:47            14,670 mongodb2.ipynb
29-12-2022  19:08           875,693 movies.sql
06-12-2022  00:16               283 my_module.py
04-01-2023  19:25           102,584 mysql_1.ipynb
29-12-2022  19:08            93,626 mysql_2.ipynb
27-12-2022  21:28            24,252 MYSQLWORKSPACE_1.ipynb
27-12-2022  23:44            11,381 MYSQLWORKSPACE_2.ipynb
31-12-2022  00:52             1,007 NEW_RECORD_1.sql
03-01-2023  11:15               339 NEW_RECORD_10.sql
05-01-2023  22:55             1,441 NEW_RECORD_11.sql
06-01-2023  10:58               318 NEW_RECORD_12.sql
31-12-2022  19:23               367 NEW_RECORD_2.sql
05-01-2023  19:05               249 NEW_RECORD_3.sql
03-01-2023  19:17               718 NEW_RECORD_4.sql
01-01-2023  15:37               339 NEW_RECORD_5.sql
01-01-2023  17:15               229 NEW_RECORD_6.sql
01-01-2023  23:58               502 NEW_RECORD_7.sql
02-01-2023  00:15               166 NEW_RECORD_78.sql
03-01-2023  00:13               405 NEW_RECORD_8.sql
03-01-2023  11:00               260 NEW_RECORD_9.sql
04-01-2023  19:41           121,143 order detail.csv
04-01-2023  19:33           121,143 order detail.txt
04-01-2023  20:59             3,014 product.csv
10-01-2023  12:37             8,474 sqllite.ipynb
03-01-2023  00:03           875,693 SWIGGY.SQL
11-12-2022  11:39               609 test.log
11-12-2022  11:31                 0 test.py
05-12-2022  23:38                 0 test08.txt
05-12-2022  23:45                99 test1.py
05-12-2022  23:41                98 test1.txt
08-01-2023  00:53            15,715 Untitled.ipynb
10-01-2023  00:09            15,794 Untitled1.ipynb
              37 File(s)      7,600,641 bytes
               4 Dir(s)  18,815,561,728 bytes free

In [42]:
db=sqlite3.connect("abhisheksaini_44")

In [44]:
c=db.cursor()

In [46]:
data=c.execute("select name,marks from fsds")

In [48]:
for i in data:
    print(i)

In [50]:
data=c.execute("select name,marks from fsds order  by marks")

In [52]:
for i in data:
    print(i)

In [54]:
db.close()

In [57]:
db=sqlite3.connect("person.db")

In [59]:
c=db.cursor()

In [61]:
c.execute("create table person_table(name text,email text,age int,salary real)")

In [63]:
c.execute("insert into person_table values('abhishek saini','abhisheksaini388@gmail.com',21,21222.222)")
c.execute("insert into person_table values('ankit saini','ankitsaini455@gmail.com',24,27787.222)")
c.execute("insert into person_table values('kartik saini','kartiksaini778@gmail.com',27,24444.222)")
c.execute("insert into person_table values('aditya saini','adtiyasaini4558@gmail.com',30,27878.222)")
c.execute("insert into person_table values('amit saini','amitsaini388@gmail.com',28,12255.222)")
c.execute("insert into person_table values('rakesh saini','rakeshsaini388@gmail.com',20,787874.222)")
c.execute("insert into person_table values('mohit saini','mohitsaini388@gmail.com',31,148889.222)")
c.execute("insert into person_table values('mayank saini','mayanksaini388@gmail.com',41,24478787.222)")

In [69]:
data=c.execute("select name,salary from person_table where salary >21000")

In [76]:
for i in data:
    print(i)

ProgrammingError: Cannot operate on a closed database.

In [74]:
db.commit()

In [75]:
db.close()

In [71]:
import pandas as pd

In [72]:
pd.read_sql("select * from person_table",db)

             name                       email  age        salary
0  abhishek saini  abhisheksaini388@gmail.com   21  2.122222e+04
1     ankit saini     ankitsaini455@gmail.com   24  2.778722e+04
2    kartik saini    kartiksaini778@gmail.com   27  2.444422e+04
3    aditya saini   adtiyasaini4558@gmail.com   30  2.787822e+04
4      amit saini      amitsaini388@gmail.com   28  1.225522e+04
5    rakesh saini    rakeshsaini388@gmail.com   20  7.878742e+05
6     mohit saini     mohitsaini388@gmail.com   31  1.488892e+05
7    mayank saini    mayanksaini388@gmail.com   41  2.447879e+07

In [77]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 389F-0762

 Directory of C:\Users\Yaksha\Desktop\abhi.cpp\Untitled Folder

10-01-2023  13:39    <DIR>          .
10-01-2023  13:39    <DIR>          ..
10-01-2023  00:09    <DIR>          .ipynb_checkpoints
06-12-2022  00:16    <DIR>          __pycache__
08-01-2023  00:00         4,407,102 19.3 MongoDB.7z
10-01-2023  12:33             8,192 abhisheksaini_44
29-12-2022  19:12           879,767 gamer.txt
25-12-2022  17:23            11,903 glass.data
10-01-2023  00:07             3,066 mongo1.ipynb
09-01-2023  23:47            14,670 mongodb2.ipynb
29-12-2022  19:08           875,693 movies.sql
06-12-2022  00:16               283 my_module.py
04-01-2023  19:25           102,584 mysql_1.ipynb
29-12-2022  19:08            93,626 mysql_2.ipynb
27-12-2022  21:28            24,252 MYSQLWORKSPACE_1.ipynb
27-12-2022  23:44            11,381 MYSQLWORKSPACE_2.ipynb
31-12-2022  00:52             1,007 NEW_RECORD_1.sql
03-01-2023  11:15               339 NEW_RECORD_10.sql
05-01-2023  22:55             1,441 NEW_RECORD_11.sql
06-01-2023  10:58               318 NEW_RECORD_12.sql
31-12-2022  19:23               367 NEW_RECORD_2.sql
05-01-2023  19:05               249 NEW_RECORD_3.sql
03-01-2023  19:17               718 NEW_RECORD_4.sql
01-01-2023  15:37               339 NEW_RECORD_5.sql
01-01-2023  17:15               229 NEW_RECORD_6.sql
01-01-2023  23:58               502 NEW_RECORD_7.sql
02-01-2023  00:15               166 NEW_RECORD_78.sql
03-01-2023  00:13               405 NEW_RECORD_8.sql
03-01-2023  11:00               260 NEW_RECORD_9.sql
04-01-2023  19:41           121,143 order detail.csv
04-01-2023  19:33           121,143 order detail.txt
10-01-2023  13:38             8,192 person.db
04-01-2023  20:59             3,014 product.csv
10-01-2023  13:39            22,450 sqllite.ipynb
03-01-2023  00:03           875,693 SWIGGY.SQL
11-12-2022  11:39               609 test.log
11-12-2022  11:31                 0 test.py
05-12-2022  23:38                 0 test08.txt
05-12-2022  23:45                99 test1.py
05-12-2022  23:41                98 test1.txt
08-01-2023  00:53            15,715 Untitled.ipynb
10-01-2023  00:09            15,794 Untitled1.ipynb
              38 File(s)      7,622,809 bytes
               4 Dir(s)  18,817,818,624 bytes free

In [79]:
db=sqlite3.connect("person.db")

In [81]:
b=db.cursor()

In [87]:
data=b.execute("select name,email from person_table where name='abhishek saini'")

In [89]:
for i in data:
    print(i)

In [91]:
db.close()

In [101]:
db=sqlite3.connect("person.db")

In [102]:
c=db.cursor()

In [113]:
data=c.execute("select name,email from person_table order by name limit 3")

In [1]:
for i in data:
    print(i)

NameError: name 'data' is not defined

In [7]:
l=[1,2,3,4,5]

In [14]:
def test(a):
    return a**2

In [11]:
a=test(1)
print(a)

6

In [5]:
l1=[]
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25]

In [15]:
list(map(test,l))

[1, 4, 9, 16, 25]

In [25]:
l1=["4545","78787","78787"]

In [35]:
def test(a):
    d=int(a)
    return d**2

In [37]:
list(map(test,l1))

[20657025, 6207391369, 6207391369]

In [46]:
list(map(lambda x:int(x),l1))

[4545, 78787, 78787]

In [48]:
l=[4,5,6,7,78,8,78]

In [54]:
l1=[]
for i in l:
    if i%2==0:
        l1.append(i)
l1

[4, 6, 78, 8, 78]

In [76]:
def test1(a):
        if a%2==0:
            return a

In [85]:
list(filter(lambda x:x%2==0,l)) #beacuse map function has to failed sometime in opertion beacuse map is taken every element on the element

[4, 6, 78, 8, 78]

In [1]:
list(filter(test1,l))

NameError: name 'test1' is not defined

In [9]:
from functools import reduce

In [29]:
list_7=[1,2,3,4,5,6]

In [30]:
def test_7(a,b,c):
    return a+b+c

In [31]:
reduce(test_7,list_7)

TypeError: test_7() missing 1 required positional argument: 'c'

In [51]:
list_8=[4,5,65,7]

In [53]:
list(zip(list_7,list_8))

[(1, 4), (2, 5), (3, 65), (4, 7)]